footer{
    padding: $padding-base 0;
    text-align: center;

    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                color: inherit;
                padding: $padding-base;
                font-weight: $font-weight-bold;
                font-size: $mdb-btn-font-size-base;
                text-transform: uppercase;
                border-radius: $border-radius-base;
                text-decoration: none;
                position: relative;
                display: block;

                &:hover{
                    text-decoration: none;
                }
            }

            .btn{
                margin: 0;
            }
        }

        &.links-horizontal{
            &:first-child a{
                padding-left: 0;
            }

            &:last-child a{
                padding-right: 0;
            }
        }

        &.links-vertical{
            li{
                display: block;
                margin-left: -5px;
                margin-right: -5px;

                a{
                    padding: 5px;
                }
            }
        }
    }

    .social-buttons{
        a,
        .btn{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .footer-brand{
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        margin-left: -15px;

        &:hover,
        &:focus{
            color: $black-color;
        }
    }
    .copyright{
        padding: 15px 0;
        color:#333;
        font-size: 12px;
        font-family: $font-family-rubikbold;
        .material-icons{
            font-size: 18px;
            position: relative;
            top: 3px;
        }
    }
    .trademarks {
      color:#808080;
    }
    .pull-center{
        display: inline-block;
        float: none;
    }
}

.footer-big{
    padding: $padding-base * 2 0;

    .content{
        text-align: left;
    }

    .social-feed{

        i{
            font-size: 20px;
            display: table-cell;
            padding-right: 10px;
        }
        p{
            display: table-cell;
            vertical-align: top;
            overflow: hidden;
            padding-bottom: 10px;
            max-width: 300px;
        }
    }

    .gallery-feed{
        img{
            width: 20%;
            margin-right: 5%;
            margin-bottom: 5%;
            float: left;
        }
    }
}
.footer-white{
    background-color: $white-color;
}
.footer-gray{
    background-color: $gray-lighter;
}
.footer-black{
    @include radial-gradient(#232323,#585858);

    a{
        color: $white-color;
        opacity: .86;

        &:hover,
        &:focus{
            opacity: 1;
        }
    }

    .footer-brand{
        color: $white-color;

        &:hover,
        &:focus{
            color: $white-color;
        }
    }

    h5,
    h4,
    i,
    .copyright{
        color: $white-color;
    }

    hr{
        border-color: rgba($white-color, .2);
    }
}
.subscribe {
  height:50px !important;
}
.btn-subscribe {
  position: absolute;
  right: 2px;
  top: -9px;
  width: 70px;
  height: 48px;
  text-align: center !important;
  padding-left: 30px;
  @media (max-width: $screen-sm-min){
    right: 17.5vw;
    padding-left: 3vh;
  }
}
.comodo-img {
  padding-top: 3vh;
}
.payment-method-heading {
  margin: 1em 0 1em 0;
  font-size: 21px;
  h4{
    span{
      font-size: 18px;
    }

  }
  &.fancy {
    line-height: 0.5;
    text-align: center;
    line-height: 0.5;
    text-align: center;
    font-family: $font-family-rubikbold;
    font-size: 18px;

    span {
      display: inline-block;
      position: relative;

      &:before{
        content: "";
        position: absolute;
        height: 5px;
        border-top: 2px solid #e6e6e6;
        top: 5px;
        width: 100vw;
      }
      &:after {
        content: "";
        position: absolute;
        height: 5px;
        border-top: 2px solid #e6e6e6;
        top: 5px;
        width: 100vw;
      }
      &:before {
        right: 100%;
        margin-right: 15px;
      }
      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }
}
.footer-logo {
  padding-bottom: 4.8vh;
}
.top-footer {

  .risk-management-section{
    h6{
      font-size: 25px;
      padding-bottom: 3vh;

    }
    p{
      font-family: rubikregular;
      color: #808080;
    }
  }
  .stay-in-touch{
    h6{
      font-size: 25px;
      padding-bottom: 3vh;
      padding-left: 20px;
    }
    input{
      padding-left: 15px;
    }
  }

  .info-horizontal{
    .info-title{
      h4{
        font-size: 18px;
        font-family: rubikbold;
      }
    }
    .footer-links{
      a{
        font-family: rubikregular;
        font-size: 13px;
        color: #808080;
      }
    }
  }

  a {
    color: #808080;
    font-family: $font-family-rubikregular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.2px;

    &:hover , :focus {
      color: #e91e63;
    }
  }
}
p.trademarks {
  font-size: 12px;
  color:#b3b3b3 ;
  font-family: $font-family-rubikregular;
}
.footer-mobi {

  .panel {
    &.panel-default {
      // width:100vw;
    }
    .panel-heading {
      // padding-left: 40px;
      // padding-right: 40px;
    }
  }
}
[data-subscribe-email] {
    padding-left: 80px;
}
.slide-left-btn {
    transform: translate3d(-219px, 0, 0);
    transition: transform 1s;
}
.slide-right-btn {
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
}
