#note {
    position: absolute;
    z-index: 6001;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}
.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

#close {
  position: absolute;
  right: 10px;
  top: 9px;
  text-indent: -9999px;
  background: url(images/close.png);
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.cssanimations.csstransforms #close {
  display: none;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.candidate-info-notification{
  padding: 0px 10px;
}
.notification-panel {
    width: 471px;
    max-height: 603px;
    // position: relative;
    color: #333;
    // padding: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    &.dropdown-menu {
        right: -100%;
        top: 30px;    
    } 
    &:after, &:before {
        bottom: 100%;
        left: 84%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    &:after {
        border-color: rgba(213, 198, 199, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    &:before {
        border-color: rgba(51, 51, 51, 0);
        border-bottom-color: #333;
        border-width: 11px;
        margin-left: -11px;
    }
    .header {
        border-bottom: 1px solid #333;
        padding: 20px 31px;
      h3 {
        font-family: $font-family-rubikmedium;
        font-size: 18px;
        margin-top: 0px;
        color: #333333;
        margin-bottom: 0px;
      }
      .mute {
        font-size: 14px;
        color: #979797;
        // border: 1px solid #ddd;
        border-radius: 20px;
        float: right;
        padding: 6px;
        width: 64px;
        height: 26px;
        margin-right: 15px;
      }
      .clear-all {
        font-size: 14px;
        color: #979797;
        // background: #e6e6e6;
        // border-radius: 20px;
        float: right;
        padding: 6px;
        width: 89px;
        height: 26px;
      }
    }
    .message-board {
      max-height: 480px;
      overflow-y: auto;
      overflow-x: hidden;
    //   padding-right: 10px;
      &::-webkit-scrollbar {
        background: #f3f3f3;
        width: 7px;
        border-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
      &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background: #f3f3f3;
        border-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $magenta;
        border-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        // outline: 1px solid slategrey;
      }
  
      .content {
        // background: #f7f7f7;
        border-radius: 5px;
        // padding: 1px 10px 10px 10px;
        margin-top: 15px;
  
        .card-message {
          background: #fff;
          border-radius: 5px;
          margin-top: 10px;
        //   border: 1px solid #e5e5e5;
          .label--wrap {
            padding-top: 5px;
            .label {
              color: #808080;
  
              &.date {
                background: #e6e6e6;
                border-radius: 5px;
                /* padding: 10px; */
                font-size: 10px;
                width: 133px;
                height: 26px;
                font-family: $font-family-rubikbold;
              }
              &.status {
                text-transform: capitalize;
                font-family: $font-family-rubikregular;
                font-size: 13px;
              }
            }
          }
          .user--icon {
            width: 39px;
            height: 39px;
            background: #e988ab;
            color: #fff;
            font-size: 15px;
            border-radius: 50%;
            padding: 10px;
            margin-top: 10px;
          }
          .message-content {
            font-family: $font-family-rubikregular;
            margin-top: 0px;
            padding: 15px;
            border-bottom: 1px solid #979797;
            p {
              color: #333;
              font-size:14px;
              
              span {
                  color:$magenta;
                  font-family:$font-family-rubikbold !important;
              }
            }
            h4 {
              margin-top: 0;
              font-family: $font-family-rubikregular;
              font-size: 14pt;
            }
            .content-link {
              i {
                transform: rotate(260deg);
              }
              a,
              .fa {
                color: #d4145a;
                font-size: 12px;
  
                &:hover {
                  color: #d4145a;
                }
              }
            }
            .date {
                font-style: italic;
                color: #979797;
            }
          }
          .message-header {
            position: relative;
            // border-bottom: 1px solid #e5e5e5;
            padding: 15px;
          }
        }
        .fa {
          &.fa-circle {
            margin-left: 7px;
            font-size: 10px;
            &.read {
              color: #cccccc;
            }
            &.unread {
              color: #d4145a;
            }
          }
  
          &.fa-times {
            width: 20px;
            height: 20px;
            color: #fff;
            background: #e6e6e6;
            border: none;
            padding: 3px;
            text-align: center;
            font-size: 13px;
            &:hover {
              background: #333;
              color: #fff;
            }
          }
        }
      }
    }
  }