.peek-a-bar {
    margin: 0;
    position: fixed;
    width: 70%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}