html {
  overflow-x: hidden;
}
.section-white{
    background: #FFFFFF;
}
.section-white-to-gray{
    background-color: #fff;
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, #e5e5e5 0%, #fff 100%) repeat scroll 0 0;
}
.section-gray{
    background: #E5E5E5;
}
.section-light-gray{
    background: #eee;
}

// colored sections
.section-primary{
    @include linear-gradient($purple-100, $purple-300);
}
.section-info{
    @include linear-gradient($cyan-100, $cyan-300);
}
.section-success{
    @include linear-gradient($green-100, $green-300);
}
.section-warning{
    @include linear-gradient($orange-100, $orange-300);
}
.section-danger{
    @include linear-gradient($red-100, $red-300);
}
.section-rose{
    @include linear-gradient($pink-100, $pink-300);
}

.section-space{
    height: 70px;
    display: block;
}
.section{
    padding: 70px 0;
}
.section-navbars{
    padding-bottom: 0;
}

.section-full-screen{
    height: 100vh;
}
.section-signup{
    padding-top: 20vh;
}
.section-dark,
.section-image{
    background-color: #343434;
    background-size: 200% 240%;
    @include radial-gradient(#232323,#585858);
}

.section-dark,
.section-image{
    .title,
    .card-plain .card-title,
    .card-plain .icon i{
        color: $white-color;
    }

    .description,
    .card-plain .card-description,
    .card-plain .icon{
        color: rgba($white-color, .76);
    }

    .card-plain{
        [class*="text-"],
        ul li b{
            color: $white-color;
        }
        .category{
            color: rgba($white-color,.5);
        }
    }

    .card .card-image .colored-shadow{
        top: 0px;
    }

}

.payment-image-section{
    display: inline;
    .payment-methods-images{
        display: inline;

        img{
            width: auto;
            height: 60px;
            float: left;
        }

    }
}

.section-image{
    position: relative;

    &:after{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
        background-color: rgba(0,0,0,.7);
    }

    .container{
        z-index: 2;
        position: relative;
    }
}

.watcher-section{
    i{
        margin: 0px 20px;
    }
    .icon-Dots_Add {
        padding: 6px;
        border-radius: 50px;
        border: 1px solid #b3b3b3;
        margin: 0px 0px 0px 20px;
        display: inline-block;
        position: absolute;
        &:hover{
            border: 1px solid black;
        }

    }
    h6{
        font-size: 14px;
        font-weight: bolder;
        font-family: rubikmedium;
        padding: 0px 10px 0px 3px;
        margin: 0px;
    }
    .circlce-no-icon{
        display: inline-block;
        margin-right: -20px;
        overflow: hidden;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
        background: #F6D0DE;
        margin: 0 auto;
        border-radius: 50%;
    }
    .active-users{
        padding: 10px 35px;
    }
}

.attachment-section{
    .attachments-heading{
        margin-top: 25px;
        h5{
            font-size: 16px;
            margin: 0px -12px;
        }
    }

    tr{
        background: #FFFFFF;
    }
    .icon-Dots_Download{
        font-size: 20px;
        border: 1px solid black;
        background: black;
        color: white;
        border-radius: 5px;
        padding: 1px;
    }
    .icon-Dots_Upload{
        font-size: 20px;
        border: 1px solid #4D4D4D;
        background: #FFFFFF;
        color: #333333;
        border-radius: 5px;
        padding: 1px;
    }

    .attachment-file{
        height: 24px;
        width: 115px;
        border: 1px solid #4D4D4D;
        padding: 2px;
        font-size: 14px;
        color: #4D4D4D;
        background: #FFFFFF;
        i{
            color: #4D4D4D;
            border: none;
        }
        a{
            color: #4D4D4D;
        }



    }
}

.attachment-section{
    .academic-qual-heading{
        margin-top: 25px;
        h5{
            font-size: 16px;
            margin: 0px -12px;
        }
    }

    tr{
        background: #FFFFFF;
    }
    .icon-Dots_Download{
        font-size: 20px;
        border: 1px solid black;
        background: black;
        color: white;
        border-radius: 5px;
        padding: 1px;
    }
    .icon-Dots_Upload{
        font-size: 20px;
        border: 1px solid #4D4D4D;
        background: #FFFFFF;
        color: #333333;
        border-radius: 5px;
        padding: 1px;
    }

    .attachment-file{
        height: 24px;
        width: 115px;
        border: 1px solid #4D4D4D;
        padding: 2px;
        font-size: 14px;
        color: #4D4D4D;
        background: #FFFFFF;
        i{
            color: #4D4D4D;
            border: none;
        }
        a{
            color: #4D4D4D;
        }



    }
    i{
        color: #4D4D4D;
        border: 1px solid #b3b3b3;
        border-radius: 5px;
        padding: 10px;
        margin: -10px 15px 15px 0px;
    }
}


.section,
.section-image{
    background-position: center center;
    background-size: cover;
}

[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"]{
    padding: 80px 0px 10px;
}

@import 'sections/_headers';
@import 'sections/_features';
@import 'sections/_home';
@import 'sections/_blogs';
@import 'sections/_team';
@import 'sections/_projects';
@import 'sections/_testimonials';
@import 'sections/_contactus';
@import 'sections/_footers';
@import 'sections/_risk-management';
@import 'sections/_about-us';
@import 'sections/_background-screening';
@import 'sections/_landing-page';
@import 'sections/_detail-page';


@import 'sections/_social-subscribe-lines';
